<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/6d2d7b60-e50c-4e61-b311-de6d33188ed9/resourceGroups/nutricion/providers/Microsoft.ApiManagement/service/NutricionAPIapi/apis/NutricionAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/6d2d7b60-e50c-4e61-b311-de6d33188ed9/resourceGroups/nutricion/providers/Microsoft.Web/sites/nutricionramon</ResourceId>
    <ResourceGroup>nutricion</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://nutricionramon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>93d85d84-4e30-4ded-9829-74380478cf33</ProjectGuid>
    <PublishUrl>https://nutricionramon.scm.azurewebsites.net/</PublishUrl>
    <UserName>$nutricionramon</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>